<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pico" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Pico</name>


    <js-module name="Pico" src="www/Pico.js">
        <clobbers target="Pico"/>
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Pico">
                <param name="ios-package" value="Pico"/>
            </feature>
        </config-file>
        <source-file src="src/ios/Pico.m"/>
    </platform>


    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Pico">
                <param name="android-package" value="cordova.plugin.pico.Pico"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Pico.java" target-dir="src/cordova/plugin/pico/Pico"/>
    </platform>
</plugin>
