<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pico" version="1.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Pico-Plugin</name>


    <js-module name="PicoPlugin" src="www/PicoPlugin.js">
        <clobbers target="PicoPlugin"/>
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PicoPlugin">
                <param name="ios-package" value="PicoPlugin"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes"/>
        <resource-file src="src/ios/PicoPluginConfig.plist" />


        <source-file src="src/ios/PicoPlugin.m"/>
        <header-file src="src/ios/PicoPlugin.h"/>

        <header-file src="src/ios/PicoSDK.h" />
        <header-file src="src/ios/CUSwatchMatcher.h" />
        <header-file src="src/ios/CUSwatch.h" />
        <header-file src="src/ios/CUSensorData.h" />
        <header-file src="src/ios/CUPicoConnector.h" />
        <header-file src="src/ios/CUPico.h" />
        <header-file src="src/ios/CUMatch.h" />
        <header-file src="src/ios/CULAB.h" />
        <source-file src="src/ios/libPicoSDK.a" framework="true" />

    </platform>


    <platform name="android">
        <framework src="src/android/PicoPlugin.gradle" custom="true" type="gradleReference"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PicoPlugin">
                <param name="android-package" value="cordova.plugin.pico.PicoPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/PicoPlugin.java" target-dir="src/cordova/plugin/pico/PicoPlugin"/>
        <lib-file src="src/android/PicoIO.aar"/>
    </platform>
</plugin>
